/* details.css */

.img-large {
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.image-large-container {
    position: relative;
    text-align: center;
}

.button-return {
    position: absolute; 
    top: 0px; 
    right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(68, 68, 68);
}