/* details.css */

.imgLarge {
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

header .banner {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    margin-top: 25px;
}

header .containerTitle {
    text-align: center;
}

.buttonReturn {
    position: absolute;
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    color: rgb(68, 68, 68);
}