/* styles.css */

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 980px;
    margin: auto;
}

body {
    display: flex;
    font-family: Verdana; 
    font-size: large;
    background-color:rgb(225, 225, 225);
}

header {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(225, 225, 225);
    color: rgb(68, 68, 68);
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    animation: fade 4s;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0 0 0;
    height: 75px;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
    border-color: black;
    border: 2;
}

.tableLocations {
    display: table;
    margin: auto 10px 0 auto;
    width: auto;
}

.tableMain {
    margin-top: 25px;
}

.tableSelection {
    font-size: smaller; 
    width: auto; 
    margin: 0;
    margin: 20px 0 0 0;
    cursor: pointer;
}

.containerLocations {
    margin: 0;
    padding: 0;
    width: 100%;
    /* justify-content: flex-end; */
}

.containerLoc {
    align-self: flex-end;
    margin: 0 20px 0 0;
}

.containerLoc .title {
    width: 150px;
    /* font-weight: 300; */
}

.containerLoc .address {
    text-align: center;
    font-size: small;
    width: 200px;
    margin: 0 10px 0 10px;
}

.bodyLocations {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
}

.containerSelectionDetail {
    width: 100%;
}

.selectionDetail {
    margin: 0;
    padding: 0 30px 0 30px;
}

.containerMap {
    width: 300px;
}

.imgMap {
    transition: transform 0.3s ease, transform-origin 0.3s ease;
    /* border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 30px 0 30px 0; */
}

.highlight {
    cursor: pointer;
    background-color: aqua;
}

/* IMAGE ZOOM IN */

.imgSmall {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, transform-origin 0.3s ease;
}

.imageContainer {
    overflow: hidden;
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.imageMapContainer {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 30px 0 30px 0;
}

.imageContainer:hover {
    position: relative;
}

.imageContainer:hover .imgSmall {
    transform-origin: 10% 10%;
    transform: scale(2);
}

.imageMapContainer:hover .imgMap {
    /* transform-origin: 10% 10%; */
    transform: scale(1.4);
}

/* IMAGE SAMPLE ZOOM IN */

.imgSmall-sample2 {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, transform-origin 0.3s ease;
}

.imgSmall-sample3 {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, transform-origin 0.3s ease;
}

.imageContainer-sample {
    overflow: hidden;
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

.imageContainer-sample:hover {
    position: relative;
}

.imageContainer-sample:hover .imgSmall-sample2 {
    transform-origin: 85% 90%;
    transform: scale(2);
}

.imageContainer-sample:hover .imgSmall-sample3 {
    transform-origin: 95% 15%;
    transform: scale(2);
}

/* TEXT STYLE */

.viewImageText {
    font-size: small; 
    margin-top: 10px;
}

a { 
    color: inherit; 
    text-decoration: none;
    transition: .25s ease-in-out;
}

a:hover {
    color: hsl(0, 100%, 41%);
}

a:hover::before {
    border-width: 0;
    background-color: hsl(121, 100%, 35%);
    box-shadow: 0 0 .5rem .1rem hsla(121, 100%, 35%, 1);
    animation: none;
}


/* Header */

.mainTitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    color: rgb(68, 68, 68);
    /* margin: 50px 0px 50px 0px; */
}

nav {
    margin-left: auto; 
    margin-right: 10px;
    color: rgb(68, 68, 68);
}

/* Footer */

.copyright {
    font-size: small;
    margin: 25px 0px 5px 0px;
    color: rgb(68, 68, 68);
}

.credits {
    font-size: small;
    margin: 0px 0px 15px 0px;
    color: rgb(68, 68, 68);
}

/* Components */

.container {
    text-align: center;
}

.containerSelection {
    color: white;
    background-color: rgb(125, 125, 125);
    text-align: center;
    margin: 0;
}

.containerSelected {
    color: white;
    background-color: rgb(168, 0, 0);
    text-align: center;
    margin: 0;
}

.selectionKnife {
    padding: 0 10px 0 10px;
    border: 1px solid rgb(68, 68, 68);
    white-space: nowrap;
}

.containerSelection:hover {
    background-color: rgb(80, 80, 80);
}

.containerSelected:hover {
    background-color: rgb(80, 80, 80);
}

.selectionTitle {
    color: white;
    background-color: rgb(68, 68, 68);
    border: 1px solid rgb(40, 40, 40);
}

.containerNav {
    text-align: right;
    width: 100%;
}

.itemSummary {
    margin: 0 10px 10px 10px;
}

.buttonPurchase {
    text-align: center; 
    padding: 5px; 
    border-radius: 15px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: .25s ease-in-out;
    cursor: pointer;
}

.buttonPurchase:hover {
    color: hsl(0, 0%, 100%);
    background-color: rgb(28, 17, 0);
}


.buttonPurchase:hover::before {
    border-width: 0;
    background-color: rgb(28, 17, 0);
    box-shadow: 0 0 .5rem .1rem rgb(28, 17, 0, 1);
    animation: none;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}