/* styles.css */

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 980px;
    margin: auto;
}

body {
    display: flex;
    font-family: Verdana; 
    font-size: large;
    /*color:rgb(255, 255, 255); */
    background-color:rgb(225, 225, 225);
}

header {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(225, 225, 225);
    color: rgb(68, 68, 68);
    width: 100%;
    height: 100%;
    animation: fade 4s;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
    border-color: black;
    border: 2;
}

.tableMain {
    margin-top: 25px;
}

.tableSelection {
    font-size: smaller; 
    width: auto; 
    margin: 50px 0 0 0;
    cursor: pointer;
}

.containerLocations {
    width: 100%;
    justify-content: flex-end;
}

.containerLoc {
    align-self: flex-end;
    margin: 0 20px 0 0;
}

.containerLoc .title {
    width: 150px;
}

.containerLoc .address {
    text-align: center;
    font-size: small;
    width: 200px;
}

.bodyLocations {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.containerSelectionDetail {
    width: 100%;
}

.selectionDetail {
    margin-Top: 50px;
}

.containerMap {
    width: 300px;
}

.imgMap {
    border-radius: 15px;
    margin: 75px 0 0 0;
}

.imgSmall {
    border-radius: 15px;
}

.imgLarge {
    border-radius: 25px;
}

.viewImageText {
    font-size: small; 
    margin-top: 10px;
}

a { 
    color: inherit; 
    text-decoration: none;
    transition: .25s ease-in-out;
}

a:hover {
    color: hsl(0, 100%, 41%);
}

a:hover::before {
    border-width: 0;
    background-color: hsl(121, 100%, 35%);
    box-shadow: 0 0 .5rem .1rem hsla(121, 100%, 35%, 1);
    animation: none;
}

/* Header */

.mainTitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xxx-large;
    color: rgb(68, 68, 68);
    margin: 50px 0px 50px 0px;
}

nav {
    margin-left: auto; 
    margin-right: 10px;
    color: rgb(68, 68, 68);
}

/* Footer */

.copyright {
    font-size: small;
    margin: 25px 0px 5px 0px;
    color: rgb(68, 68, 68);
}

.credits {
    font-size: small;
    margin: 0px 0px 15px 0px;
    color: rgb(68, 68, 68);
}

/* Components */

.container {
    text-align: center;
}

.containerSelection {
    color: white;
    background-color: rgb(125, 125, 125);
    text-align: center;
    margin: 0;
}

.containerSelected {
    color: white;
    background-color: rgb(168, 0, 0);
    text-align: center;
    margin: 0;
}

.selectionKnife {
    padding: 0 10px 0 10px;
    border: 1px solid rgb(68, 68, 68);
    white-space: nowrap;
}

.containerSelection:hover {
    background-color: rgb(80, 80, 80);
}

.containerSelected:hover {
    background-color: rgb(80, 80, 80);
}

.selectionTitle {
    color: white;
    background-color: rgb(68, 68, 68);
    border: 1px solid rgb(40, 40, 40);
}

.containerNav {
    text-align: right;
    width: 100%;
}

.itemSummary {
    margin: 10px;
}

.buttonPurchase {
    text-align: center; 
    padding: 5px; 
    border-radius: 15px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: .25s ease-in-out;
    cursor: pointer;
}

.buttonPurchase:hover {
    color: hsl(0, 0%, 100%);
    background-color: rgb(28, 17, 0);
}


.buttonPurchase:hover::before {
    border-width: 0;
    background-color: rgb(28, 17, 0);
    box-shadow: 0 0 .5rem .1rem rgb(28, 17, 0, 1);
    animation: none;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}