/* styles.css */

html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color:rgb(255, 255, 255);
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100px;
    background-color: rgb(40, 40, 40);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    width: 980px;
    padding: 25px;
    flex-grow: 1;
}

footer {
    display: flex;
    height: 5%;
    color: rgb(69, 69, 70);
    align-items: center;
    justify-content: center;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
}

a { 
    color: inherit; 
    text-decoration: none;
    transition: .1s ease-in-out;
}

a:hover {
    color: rgb(149, 155, 69);
}

a:hover::before {
    border-width: 0;
    background-color: rgb(149, 155, 69);
    box-shadow: 0 0 .5rem .1rem rgb(149, 155, 69);
    animation: none;
}

h4 {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0 5% 0 auto;
}

.navigation-home {
    color: rgb(200, 200, 200);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
}

.container-title {
    text-align: center;
}

.title {
    margin-bottom: 0;
}

.title-text {
    color: rgb(149, 155, 69);
}

.topic {
    margin-top: 0;
}

.statement {
    font-size: small;
}

.container-seasons {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
}

.title-semester {
    align-self: center;
}

.container-year {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10%;
}

.course-year-dropdown {
    font-size: medium;
    margin-left: 10px;
    padding: 5px;
}

.evaluation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}


.button-navigation {
    text-align: center;
}

.contact {
    font-style: italic;
    font-size: small; 
    text-align: center;
}

.contact .links {
    display: flex; 
    justify-content: space-evenly;
}

.contact .links .link {
    margin: 0;
}

.option-radio {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.option-choice {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

.option-name {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}

.container-comments {
    display: flex; 
    flex-direction: column;
    padding: 10px;
}

.info {
    display: flex; 
    width: 100%;
    margin: 10px 0 10px 0;
}

h5 {
    color: white;
    background-color: rgb(149, 155, 69);
    padding: 5px;
}

button {
    padding: 5px;
    width: 100px;
    margin: 10px;
    font-size: medium;
    border-radius: 10px;
    cursor: pointer;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.8);
    background-color: white;
    border: 2px solid rgb(149, 155, 69);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

input[type="radio"]:checked {
    background-color: rgb(149, 155, 69);
    border-color: rgb(149, 155, 69);
    position: relative;
}

input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7.5px;
    height: 7.5px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

input[type="radio"]:hover {
    box-shadow: 0 0 10px rgb(96, 99, 44);
}

.submit:hover {
    background-color: rgb(6, 60, 0);
    color: white;
}

.reset:hover {
    background-color: rgb(69, 69, 70);
    color: white;
}

section {
    border-style: double; 
    border-radius: 25px;
    padding: 10px; 
    background-color:rgb(235, 235, 235);
    box-shadow: 0px 5px 5px 2px rgb(0 0 0 / .5);
    width: 750px;
}

.info .title {
    margin-top: 10px;
}

#course-name {
    flex: 1; 
    height: 40px; 
    min-height: 40px;
    margin-left: 10px; 
    padding: 10px; 
}

#course-year {
    width: 50%;
    padding: 5px;
    margin-left: 10px;
}

#instructor-name {
    flex: 1; 
    height: 40px; 
    min-height: 40px;
    margin-left: 10px; 
    padding: 10px; 
}

#question-11 {
    min-width: 100%; 
    max-width: 100%; 
    height: 40px; 
    min-height: 40px;
    margin-top: 10px;
    padding: 10px;
}

#question-12 {
    min-width: 100%; 
    max-width: 100%; 
    height: 40px;
    min-height: 40px; 
    margin-top: 10px;
    padding: 10px;
}

#question-13 {
    min-width: 100%; 
    max-width: 100%; 
    height: 100px; 
    min-height: 100px;
    margin-top: 10px;
    padding: 10px;
}